<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>show控制器的首页</title>
	<link rel="stylesheet" href="">
</head>
<body>
	{volist name='list' id='v'}
		<div><span>数量为：{$v.remain} </span><button type="" gift_id="{$v.id}" remain="{$v.remain}">领取</button></div><br />
	{/volist}
</body>
<script type="text/javascript" src="https://h5.qiangwan.com/static/js/mobile/users/jquery.min.js"></script>
<script>
	$('button').on('click',function(){
		var $this = $(this);
		var gift_id = parseInt($this.attr('gift_id'));
		var remain = parseInt($this.attr('remain'));
		if(remain == 0){
			alert('礼包已经领完了');
			return false;
		}else{
			$.get("{:url('show/edit')}",{'gift_id':gift_id,'remain':remain},function(data){
				if(data.status == 1){
					console.log('this====>'+$this.attr('remain',remain));
					remain = remain -1
					$this.prve().text('数量为：'+remain);
					$this.attr('remain',remain);
				}
			})
		}

	})
</script>
</html>