<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>show控制器的首页</title>
	<link rel="stylesheet" href="">
</head>
<body>
	{volist name='list' id='v'}
		<div><span>数量为：{$v.remain} </span><button type="" gift_id="{$v.id}" remain="{$v.remain}">领取</button></div><br />
	{/volist}
</body>
<script type="text/javascript" src="https://h5.qiangwan.com/static/js/mobile/users/jquery.min.js"></script>
<script>
    var flag = true;
	$('button').on('click',function(){
			var put = $(this);
		    var gift_id = parseInt(put.attr('gift_id'));
			var remain = parseInt(put.attr('remain'));
			if(remain == 0){
				alert('礼包已领完了');
				return false;
			}else{
				if(flag){
					flag = false;
					$.get("{:url('show/edit')}",{'gift_id':gift_id},function(data){
						if(data.status == 1){
							console.log('this====>'+put.attr('remain',remain));
							remain = remain -1
							put.prev().text('数量为：'+remain);
							put.attr('remain',remain);
							flag = true;
						}
				
					})
				}
				
			}


	})
</script>
</html>